doctype
html
	head
		title.艾老师装逼的人
		meta(name="viewport" content="width=device-width" )
		meta(charset="utf-8")
		script(type="text/javascript" src="./js/iSlider.js")
		link(href="./css/common.css" rel="stylesheet")
	body
		block content

			div#detail-wrap
				div.detail-content
					.head#iSlider-wrapper
					h4【超值特惠】谁谁谁谁谁谁谁谁谁谁谁谁谁谁谁谁谁谁
					p.
						shdhdhdisdhsidshidsdshsdidsdsdshsdi
					h5.
						已售1000件
					span.
						测试的很多很多的哈的好得很多活动活动 的哈的好得很的好得很的很多的订货会多活动活动
					div.buy

						ul.clear
							li
								a
									span.
										谁谁谁谁谁谁
									i.
										的好得很的很多的好得很>
							li
								a
									span.
										上都会好的
									i.
										的还过得好的的哈>
					div.play
						.content

							.title
								a(href="http://www.baidu.com").title-right查看详情  >

								.title-left|拼团玩法
							ul.clear
								block left
									li
										span.left 
											|1
										span.right
											i.
												你客户要的<br/>
											i.
												你可以的
								block left
								block left
								block left
					
						

			block footer-menu
			.footer
				ul.footer-nav
					li
						a
							i.glyphicon.glyphicon-home
							|<br/>首页
					li
						a
							i.glyphicon.glyphicon-th-large
							|<br/>我的团购
					li
						a
							i.glyphicon.glyphicon-list-alt
							|<br/>我的订单
					li
						a
							i.glyphicon.glyphicon-user
							|<br/>个人中心
		script(type="text/javascript").
			    (function(){
			        var list = [
			               // picture
			               {
			                   content: 'https://aecpm.alicdn.com/simba/img/TB1npUSKpXXXXbHXpXXSutbFXXX.jpg'
			               },{
			               		 content: '<div><img src="https://aecpm.alicdn.com/simba/img/TB1npUSKpXXXXbHXpXXSutbFXXX.jpg"/>的好得很的很多</div>'
			               }
			           ];

			           var S = new iSlider(document.getElementById('iSlider-wrapper'), list, {
			               isAutoplay: 1,
			               isLooping: 1,
			               isOverspread: 1,
			               animateTime: 800
			           });
			    })()
			


	