html( lange="en" )
  head
    title #{"艾老师开始装逼了"}
    meta( charset="utf-8" )
    meta( name="viewport" content="width=device-width, initial-scale=1.0" )
    link( href="./css/common.css" )
  body
    #wrap
      .head
          .logo
          .heade-nav
      .container
      .footer
          ul.footer-nav
              li
                a( href="" )
                  i.glyphicon.glyphicon-home
                  |首页
              li
                a( href="" )
                  i.glyphicon.glyphicon-th-large
                  |我的团购 
              li
                a( href="" )
                  i.glyphicon.glyphicon-list-alt
                  |我的订单 
              li
                a( href="" )
                  i.glyphicon.glyphicon-user
                  |个人中心
                  


